<h1>Editando la compañía <%= "#{@company}" %></h1>

<%= render 'form', company: @company %>

<br>

<%= link_to companies_path, class: 'btn btn-primary' do %>
  Atras <%= fa_icon('arrow-left') %>
<% end %>
