<h1>Editando la compañía <%= @company %></h1>

<div class="margin-bottom">
  <%= render 'form', company: @company %>
</div>

<%= link_to companies_path, class: 'btn btn-default' do %>
  <%= fa_icon('arrow-left') %>
<% end %>
