@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome";
@import "/*";

.no-padding {
  padding: 0;
}

.margin-bottom {
  margin-bottom: 15px;
}

.full-width {
  width: 100%;
}

.overflowing-box {
  height: 300px;
  overflow-y: auto;
}

.overflowing-box-tall {
  height: 400px;
  overflow-y: auto;
}
