<h1>Formación ejecutada</h1>

<%= render 'form', training: @training, training_execution: @training_execution %>

<br>

<%= link_to trainings_path, class: 'btn btn-primary' do %>
  <%= fa_icon('arrow-left') %>
<% end %>
