<h1>Nueva formación ejecutada</h1>

<%= render 'form', training_execution: @training_execution %>

<br>

<%= link_to training_executions_path, class: 'btn btn-primary' do %>
  <%= fa_icon('arrow-left') %>
<% end %>
